@tailwind base;
@tailwind components;
@tailwind utilities;



.modal {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 550px;
}

.sideBarModal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 25%;
}

.cartDetailsModal {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 40%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: 1PX solid lightgray;
}
.emptyCardDetailsModal{
    text-align: center;
    background-color: white;
    position: fixed;
    top: 17%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: 1PX solid lightgray;
}

.cusomShadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}